.footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

@media screen and (max-width: 700px) {
.footer__links {
    flex-direction: column;
  }
}
