.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin: 0 auto 80px;
}

@media screen and (max-width: 1190px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px 32px;
    margin-bottom: 50px;
  }
}
